extends layout

block content
  
   p Igor is an aircraft mechanical engineer. He often goes on business trips to the Arabian Peninsula and Europe, as a result - he is rarely at home.
   p He loves to fish and hunt, although usually his face does not show any emotions ... 