doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  h1 Family members
  nav
    a(href="/Natalia") Natalia Serdiuk
    br
    a(href="/Igor") Igor Serdiuk
    br
    a(href="/Vlad") Vladyslav Serdiuk

    block content