extends layout

block content 
 
 p Natalia Serdyuk is the head of the personnel department.
 p She loves cats and dogs. My mom cook European, RUSSIAN and some Asian dishes perfectly. (much better than grandma)