extends layout

block content

  p Vladyslav Serdiuk is a unique representative of the human race. Lazy, sleepy, useless and inattentive student. He likes to do nothing, which is also boring and not interesting ...
  p Perhaps the fact is that Barrie is a large village without infrastructure, and there is nothing to do? However, this is a completely different story ...